* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.btn-primary {
    width: 150px;
    height: 64px;
    left: 1220px;
    top: 50px;
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 27px;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
}



.nav-title {
    font-weight: 800px;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}


.banner {
    margin: 0 200px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

/* #dnldbtn {
    width: 200px;
    height: 64px;
    left: 230px;
    top: 589px;

    background: #FD6E0A;
    border-radius: 5px;
    color: white;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400px;
font-size: 20px;
line-height: 27px;
text-align: center;
border: none;
margin-right: 30px;
margin-top: 20px;
} */

/* 
#greet{
    font-weight: 600;
font-size: 45px;
}

#name{
    font-weight: 700;
font-size: 85px;
} */